* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Epilogue', sans-serif;
  max-width: 1440px;
  margin: 30px auto 0;
  padding-left: 24px;
  padding-right: 24px;
  background: hsl(0, 0%, 98%);
}

img {
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  &-menu {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 60px;
    position: relative;

    nav ul {
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      gap: 20px;

      a {
        text-decoration: none;
        color: hsl(0, 0%, 41%);
      }

      li a, .dropbtn {
        display: inline-block;
        color: hsl(0, 0%, 41%);
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }

      li a:hover, .dropdown:hover .dropbtn {
        color: hsl(0, 0%, 8%);
      }

      li.dropdown {
        display: inline-block;
        position: relative;
        
      }

      .dropdown-content {
        display: none;
        position: absolute;
        background: white;
        border-radius: 10px;
        box-shadow: 0 0 15px -5px hsl(0, 0%, 41%);;
        min-width: 100px;
        overflow: hidden;
        z-index: 1;
        right: 0;
        
        img {
          width: auto;
          margin-right: 10px;
        }
      }

      .right {
        right: calc(100% - 120px);
      }
      
      .dropdown-content a {
        color: hsl(0, 0%, 41%);
        padding: 12px 16px;
        text-decoration: none;
        display: flex;
        text-align: left;
      }

      .dropdown-content a:hover {
        background-color: #f1f1f1;
      }

      .dropdown:hover .dropdown-content {
        display: block;
      }
    }

    // Menu Mobile
    .menu-mobile {
      display: none;
      text-align: right;
      width: 50%;
      padding-right: 10px;

      ul {
        background: white;
        box-shadow: 0 0 15px -5px hsl(0deg 0% 41%);
        display: block;
        width: 40%;
        height: 70vh;
        opacity: 0;
        transition: 1s;
        position: absolute;
        right: 0;
        top: 27px;
        text-align: center;
        list-style: none;
        padding-bottom: 5px;
        border-radius: 10px;

        .btn-mobile {
          display: flex;
          justify-content: center;
          gap: 10px;

          button {
            border: 1px solid;
            border-radius: 10px;
            margin-top: 30px;
            background: transparent;
            font-size: 16px;
            padding: 10px 5px;
          }
        }

        li .drop a {
          font-size: 12px;
        }
        
        li a {
          color: hsl(0, 0%, 41%);
          text-decoration: none;
          font-size: 16px;
          padding: 12px 0 0;
          display: block;
          text-align: center;

          &:hover {
            color: #2D314D;
          }
        }
      }
    }

    .menu-mobile .icon-menu {
      cursor: pointer;
      font-size: 20px;

      img {
        width: auto;
      }
    }

    .show-menu {
      opacity: 1 !important;
    }


  }

  &-right {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;

    button {
      background: transparent;
      cursor: pointer;
      font-weight: 600;
      border: 0;

      a {
        text-decoration: none;
        color: hsl(0, 0%, 41%);
  
        &:hover {
          color: hsl(0, 0%, 8%);
        }
      }
    }

    &__btnOne {
      border: none;

      a {
        padding: 14px 0;
      }
    }

    &__btnTwo {
      
      a {
        border-radius: 10px;
        padding: 14px 32px;
        border: 1px solid hsl(0, 0%, 41%);
    
        &:hover {
          border-color: hsl(0, 0%, 8%);
        }
      }
    }
  }
}

.hero-banner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  max-width: 1200px;
  margin: 60px auto 10px;

  &__content {
    display: grid;
    align-self: flex-end;
    justify-items: flex-start;
    gap: 60px;

    h1 {
      font-size: 80px;
      max-width: 11ch;
    }

    p {
      font-size: 18px;
      line-height: 24px;
      max-width: 42ch;
      color: hsl(0, 0%, 41%);
    }

    button {
      border: none;
      background: hsl(0, 0%, 8%);
      border: 1px solid hsl(0, 0%, 8%);
      padding: 14px 32px;
      color: hsl(0, 0%, 98%);
      border-radius: 10px;
      cursor: pointer;
      font-weight: 600;

      &:hover {
        background: #f1f1f1;
        border: 1px solid hsl(0, 0%, 8%);
        color: hsl(0, 0%, 8%);
      }
    }

  }

  &__content--images {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-top: 80px;
  }

  &__image {
    img {
      height: 100%;
      object-fit: cover;
    }

    .mobile {
      display: none;
    }
  }
}

footer {
  margin-top: 30px;
  
  .attribution { 
    font-size: 11px;
    text-align: center;
  
    a {
      color: hsl(228, 45%, 44%);
    }
  }
}

@media (max-width: 800px) {
  .header {
    display: initial;
  }

  .header-menu {
    justify-content: space-between;
    gap: 10px;

    .navbar {
      display: none;
    }

    .menu-mobile {
      display: block;
      z-index: 3;
    }

  }
  .header-right {
    display: none;
  }

  .hero-banner, .hero-banner__content {
    gap: 40px;

    h1 {
      font-size: 40px;
    }

    &__content--images {
      margin-top: 20px;
      gap: 10px;
      width: 30%;
    }
  }
}

@media (max-width: 768px) {
  .header-right {
    display: none;
  }

  .hero-banner {
    grid-template-columns: 1fr;

    &__image {
      img {
        display: none;
      }
    }

    .mobile {
      display: block;
    }

    .hero-banner__content {
      h1 {
        max-width: initial;
      }
  
      text-align: center;
      justify-items: center;
      order: 1;
      
    }

    &__content--images {
      width: auto;
      gap: 30px;
    }
  }

}

@media (max-width: 520px) {
  .hero-banner {
    margin: 20px auto 10px;

    .hero-banner__content {
      gap: 30px;

      h1 {
        font-size: 30px;
      }

      p {
        font-size: 16px;
      }
    }

    &__content--images {
      img {
        width: 20%;
      }
    }
  }

}